[submodule "kubernetes"]
	path = external/kubernetes
	url = https://github.com/kubernetes/kubernetes.git
	branch = release-1.34
[submodule "external/reference-docs"]
	path = external/reference-docs
	url = https://github.com/kubernetes-sigs/reference-docs.git
